

body {
  font-family: Georgia;
  font-size: 11px;
  margin: 20px;
  background-color: grey
}

ol, ul {
  font-family: Georgia;
  font-size: 14pt;
  padding-left: 30px;
}

.board-row:after {
  font-family: Georgia;
  font-size: 14pt;
  clear: both;
  content: "";
  display: table;
}

.status {
  font-family: Georgia;
  font-size: 14pt;
  margin-bottom: 10px;
}

.square {
  font-family: Georgia;
  font-size: 14pt;
  background: rgb(133, 21, 133);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  font-family: Georgia;
  font-size: 14pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.game-info {
  font-family: Georgia;
  font-size: 14pt;
  margin-left: 20px;
}


